x-dropdown {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 0;
}

x-dropdown[disabled="disabled"] {
	opacity: 0.5;
}

x-dropdown div[name="selectedName"] {
	background: var(--input-bg-color);
	font-size: var(--input-font-size);
	color: var(--input-text-color);
	border: var(--input-border);
	border-radius: var(--element-border-radius);
	padding: 4px 22px 4px 8px;
	position: relative;
	box-sizing: border-box;
	height: 24px;
}

x-dropdown div[name="selectedName"]::after {
	position: absolute;
	right: 3px;
}

x-dropdown div[name="selectedName"].expanded::after {
	display: inline-block;
	content: "↥";
}

x-dropdown div[name="selectedName"]:not(.expanded)::after {
	display: inline-block;
	content: "↧";
}

x-dropdown div[name="listContainer"] {
	border: var(--input-border);
	border-radius: var(--input-border-radius);
	background: var(--input-bg-color);
	color: var(--element-text-color);
	overflow: hidden;
	position: absolute;
	margin-top: 1px;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 10000;
}

x-dropdown div[name="list"] {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100%;
	display: block;
}

x-dropdown div[name="listContainer"]:not(.expanded) {
	display: none;
}

x-dropdown div[name="listContainer"].expanded {
	display: block;
}

x-dropdown item {
	display: block;
	padding: 2px 4px;
	font-size: 12px;
	cursor: default;
}

x-dropdown item:hover {
	background: var(--element-selected-bg-color);
}

x-dropdown splitter {
	display: block;
	height: 1px;
	width: 100%;
	background: var(--element-border-color);
}