x-panelspace {
	display: block;
	width: 100%;
	height: 100%;
}

x-panelspace > * {
	width: 100%;
	height: 100%;
}

/**Panels*/
x-panelspace x-panels-panel[name="left"] {
	border-right: 1px solid var(--body-border-color);
}

x-panelspace x-panels-panel[name="leftContent"] {
	border-right: 1px solid var(--body-border-color);
	position: relative;
}

x-panelspace x-panels-panel[name="right"] {
	border-left: 1px solid var(--body-border-color);
}

x-panelspace x-panels-panel[name="rightContent"] {
	border-left: 1px solid var(--body-border-color);
	position: relative;
}

x-panelspace x-panels-panel[name="top"] {
	border-bottom: 1px solid var(--body-border-color);
}

x-panelspace x-panels-panel[name="topContent"] {
	border-bottom: 1px solid var(--body-border-color);
	position: relative;
}

x-panelspace x-panels-panel[name="bottom"] {
	border-top: 1px solid var(--body-border-color);
}

x-panelspace x-panels-panel[name="bottomContent"] {
	border-top: 1px solid var(--body-border-color);
	position: relative;
}

x-panels-panel > x-draggable {
	display: block;
	width: 100%;
	height: 100%;
}

x-panelspace x-panels-panel x-draggable[orientation="horizontal"] x-panelspace-paneltile {
	display: block;
	margin: 2px 10px;
}

x-panelspace x-panels-panel x-draggable[orientation="verticalLeft"] x-panelspace-paneltile,
x-panelspace x-panels-panel x-draggable[orientation="verticalRight"] x-panelspace-paneltile {
	display: block;
	margin: 10px 2px;
}

x-panelspace x-panels-panel x-draggable x-draggable-item.active {
	background: var(--space-bg-color);
}

.x-draggable-phantom {
	background: var(--space-bg-color);
	border: 1px solid var(--body-border-color);
}

	/** Panel menu */
x-panelspace x-panels-panel .menu {
	background: var(--body-bg-color);
	border-bottom: 1px solid var(--body-border-color);
	height: 26px;
	box-sizing: border-box;
}

x-panelspace x-panels-panel .menu > item {
	display: inline-block;
	margin-top: 1px;
	height: 26px;
	padding: 4px 6px;
	box-sizing: border-box;
}

x-panelspace x-panels-panel .menu > item:hover {
	background: var(--element-bg-color);
	border-radius: var(--element-border-radius);
}

x-panelspace x-panels-panel .menu > item > * {
	vertical-align: middle;
	display: inline-block;
}