x-ide-code > * {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

x-ide-code > * > x-aceeditor {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

x-ide-code > * > x-aceeditor:not(.readOnly) {
	bottom: 45px;
}

x-ide-code > * > x-aceeditor.readOnly {
	bottom: 0;
}

