x-ide-code {
	display: block;
	width: 100%;
	height: 100%;
}

x-ide-code > x-aceeditor {
}

x-ide-code > x-aceeditor:has(+ x-tpl_tabcontents_code_statusbar.enabled) {
	padding-bottom: 24px;
	margin-bottom: -24px;
}

x-ide-code > x-tpl_tabcontents_code_statusbar:not(.enabled) {
	display: none;
}

x-ide-code > x-tpl_tabcontents_code_statusbar.enabled {
	display: block;
	height: 24px;
	line-height: 22px;
	text-align: right;
	padding: 1px 20px;
	box-sizing: border-box;
	background: var(--gutter-bg-color);
	border-top: var(--body-border);
	color: var(--body-text-description-color);
}

x-ide-code > x-tpl_tabcontents_code_statusbar .filePath {
	float: left;
}

x-ide-code > x-tpl_tabcontents_code_statusbar .position {
	float: right;
}

x-ide-code > x-tpl_tabcontents_code_statusbar .position span {
	margin-left: 10px;
}