:root {
	/* Body */
	--body-bg-color: #f1f1f1;
	--body-border-color: #e4e4e4;
	--body-hr-color: #d6d6d6;
	--body-text-color: #020305;
	--body-text-warning-color: #ff0000;
	--body-text-description-color: #686868;
	--body-link-color: #2597ed;
	--body-link-color-hover: #549bff;

	/* Space */
	--space-bg-color: #fff;
	--space-border: 1px solid var(--body-hr-color);

	/* Sidebar */
	--sidebar-bg-color: #e5eaef;

	/* Head */
	--head-bg-color: var(--body-bg-color);
	--head-text-color: var(--body-text-color);
	--head-hr-color: var(--body-hr-color);

	/* Gutter */
	--gutter-bg-color: #f1f1f1;

	/* Elements */
	--element-bg-color: #3c3f41;
	--element-bg-color-hover: #262833;
	--element-border-width: 1px;
	--element-border-color: #686868;
	--element-border: var(--element-border-width) solid var(--element-border-color);
	--element-border-radius: 2px;
	--element-text-color: var(--body-text-color);
	--element-text-color-hover: var(--body-text-color);

	--element-selected-bg-color: #2876bf;
	--element-selected-bg-color-hover: #5e7cb9;
	--element-selected-text-color: #fff;


	/* Inputs */
	--input-bg-color: var(--space-bg-color);
	--input-text-color: var(--body-text-color);
	--input-border-color: var(--element-border-color);
	--input-border-width: 1px;
	--input-border: var(--input-border-width) solid var(--input-border-color);
	--input-border-radius: 2px;

	/*
	--inactive-element-text-color: #aaa;
*/


}

