x-ide-panel-projectinfo {
	display: block;
}

x-ide-panel-projectinfo .menu item * {
	cursor: default;
}

x-ide-panel-projectinfo > * {
	display: flex;
	flex-direction: column;
	height: 100%;
}

x-ide-panel-projectinfo > x-tree {
	margin-top: 10px;
	box-sizing: border-box;
}
