x-tpl_projectinfo {
	display: block;
}

x-tpl_projectinfo .menu item * {
	cursor: default;
}

x-tpl_projectinfo > * {
	display: flex;
	flex-direction: column;
	height: 100%;
}

x-tpl_projectinfo > x-tree {
	margin-top: 10px;
	box-sizing: border-box;
}
