x-tpl_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

x-tpl_wrapper > x-menu {
	border-bottom: var(--space-border);
}

x-panelspace {
	padding-top: 24px;
	margin-top: -24px;
	box-sizing: border-box;
}