x-tpl_createdirectory {
	display: block;
	padding: 20px;
}

x-tpl_createdirectory table {
	border-collapse: collapse;
}

x-tpl_createdirectory table tr td {
	padding: 0;
}

x-tpl_createdirectory table tr td:nth-child(1) {
	width: 100px;
}

x-tpl_createdirectory table tr td:nth-child(2) {
	font-size: 0;
}

x-tpl_createdirectory table tr td:nth-child(2) > * {
	width: 200px;
	margin: 5px 0;
}

x-tpl_createdirectory .control {
	float: right;
}
x-tpl_createdirectory .control button {
	margin: 20px 0 0 10px;
}