:root {
	--bg-color: #f1f1f1;
	--text-color: #252525;
	--active-text-color: #2597ed;
	--active-text-color-hover: #549bff;
	--textDescription-text-color: #686868;

	--element-bg-color: #3c3f41;
	--element-bg-color-hover: #fff;
	--element-selected-bg-color: #2373c4;
	--element-border-color: #686868;
	--element-border: 1px solid var(--element-border-color);
	--element-border-radius: 2px;
	--element-text-color: #eee;
	--element-text-color-hover: #eee;

	--input-bg-color: #282a36;
	--input-border-color: #333;
	--input-border-width: 1px;
	--input-border: var(--input-border-width) solid var(--input-border-color);

	--active-element-bg-color: #4c5052;
	--inactive-element-text-color: #aaa;

	--head-background: #444;
	--head-color: #ccc;

	--hr-color: #444;

	--body-bg-color: #202025;

	--space-bg-color: #101019;
	--space-border: 1px solid var(--hr-color);

	--warning-text-color: #ff0000;
}

