html, body {
	width: 100%;
	height: 100%;
	padding:0;
	margin: 0;
	background: var(--body-bg-color);
	color: var(--body-text-color);
	Font-Family: Arial, Serif, serif;
	overflow: hidden;
}

body {
	font-size: var(--body-font-size);
}

body.cursorResizeRow {
	cursor: row-resize;
}

body.cursorResizeCol {
	cursor: col-resize;
}