x-menu {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap;
}

x-menu x-menu-item {
	position: relative;
	display: inline-block;
	font-size: 12px;
	cursor: default;
}

x-menu x-menu-item.hr {
	border-top: 1px solid var(--body-hr-color);
}

x-menu x-menu-item > div {
	padding: 6px 10px 4px;
}

x-menu x-menu-item.expanded {
	background: var(--element-selected-bg-color);
	color: var(--element-selected-text-color);
}

x-menu x-menu-item submenu {
	display: none;
}

x-menu x-menu-item.expanded submenu {
	position: absolute;
	z-index: 10000;
	display: block;
	top: 24px;
	left: 0;
	width: 200px;
	background: var(--body-bg-color);
	border: var(--space-border);
	color: var(--body-text-color);
	box-shadow: rgb(0,0,0, 0.2) 5px 5px 7px;
}

x-menu x-menu-item submenu x-menu-item {
	display: block;
}


x-menu x-menu-item submenu x-menu-item:hover {
	background: var(--element-selected-bg-color);
	color: var(--element-selected-text-color);
}

x-menu x-menu-item submenu x-menu-item span {
	display: block;
}

.line {
	display: block;
	height: 1px;
	width: 100%;
	background-color: #323232;
}
